<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{page.fileSlug}}</title>

    <link rel="stylesheet" href="/style.css">
    <script src="/js/router.js" type="module"></script>

  </head>
  <body>
    {% include "components/nav.njk" %}
    <main router:page="{{'/' + page.fileSlug + '/' if page.fileSlug != "" else "/"}}">
      {{ content | safe }}
    </main>
    {% include "components/nav-logic.njk" %}
  </body>
</html>