<!DOCTYPE html>
<html lang="en" router:current-page="/{{page.fileSlug}}/">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{page.fileSlug}}</title>

    <link rel="stylesheet" href="/style.css">
    <script src="/js/router.js" type="module"></script>

    {% if page.fileSlug == 'about' %}
      <style router:resource="/about/">
        .about{
          display: grid;
          align-self: flex-start;
          gap: 1rem;
        }
        .about figure{

        }
        .spot{
          white-space: nowrap ;
          background-color: hsl(var(--col-blk));
        color: hsl(var(--col-wht));
        padding-inline: 0.5em;
        padding-block: 0.25ex;
        border-radius: 3px;
        }
        .smudge{
          text-shadow: 0 0 8px hsl(var(--col-blk) / 0.5);
        }

        @media (min-width:512px) {
          .about figure{
            grid-column: 1;
            grid-row: 1/5;
          }
        .about p{
          grid-column: 2;
          grid-row: 1/3;
        }
        .about .social{
          grid-column: 2;
          grid-row: 3;
        }
        }

      </style>
    {% endif %}

  </head>
  <body>
    {% include "components/nav.njk" %}
    <main router:page="{{'/' + page.fileSlug + '/' if page.fileSlug != "" else "/"}}" >
      {{ content | safe }}
    </main>
    {% include "components/grain.njk" %}
    {% include "components/nav-logic.njk" %}
  </body>
</html>