<!DOCTYPE html>
<html lang="en" router:current-page="/{{page.fileSlug}}/">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{page.fileSlug}}</title>

    <link rel="stylesheet" href="/style.css">
    <script src="/js/router.js" type="module"></script>

    {% if page.fileSlug == 'about' %}
      <style router:resource="/about/">
        [router\:page="/about/"] .about {
          display: grid;
          align-self: flex-start;
          gap: 1rem;
        }
        [router\:page="/about/"].about figure {}
        [router\:page="/about/"] .spot {
          white-space: nowrap;
          background-color: hsl(var(--col-blk));
          color: hsl(var(--col-wht));
          padding-inline: 0.5em;
          padding-block: 0.25ex;
          border-radius: 3px;
        }
        [router\:page="/about/"] .smudge {
          text-shadow: 0 0 8px hsl(var(--col-blk) / 0.5);
        }

        @media (min-width:512px) {
          [router\:page="/about/"] .about figure {
            grid-column: 1;
            grid-row: 1/5;
          }
          [router\:page="/about/"] .about p {
            grid-column: 2;
            grid-row: 1/3;
          }
          [router\:page="/about/"] .about .social {
            grid-column: 2;
            grid-row: 3;
          }
        }
      </style>
    {% endif %}
    {% if page.fileSlug == ""%}
      <style router:resource="/">
        [router\:page="/"] .mkj {
          color: hsl(var(--col-primary));
        }
        [router\:page="/"].catch,
        [router\:page="/"].mkj {
          align-self: flex-end;
        }
        [router\:page="/"] .mkj {
          grid-row: 3;
        }
        main[router\:page="/"] {
          grid-template-rows: 1fr auto auto;
          gap: 1rem;
        }
        @media (min-width:512px) {
          [router\:page="/"] .mkj {
            grid-row: 5;
            align-self: flex-start;
            grid-column: 1/3;
            /* writing-mode: sideways-lr; */
          }
          main[router\:page="/"] {
            padding: 2rem;
            grid-template-columns: repeat(6,1fr);
            grid-template-rows: repeat(4,1fr) auto;
          }
          [router\:page="/"] .catch {
            grid-row: 4;
            grid-column: 2/5;
            align-self: flex-end;
          }

          main[router\:page="/"] > svg {
            grid-column: 3/6;
            grid-row: 1/4;
          }
        }
      </style>
    {% endif %}

  </head>
  <body>
    {% include "components/nav.njk" %}
    <main router:page="{{'/' + page.fileSlug + '/' if page.fileSlug != "" else "/"}}" >
      {{ content | safe }}
    </main>
    {% include "components/grain.njk" %}
    {% include "components/nav-logic.njk" %}
  </body>
</html>