---
layout: base.njk
---

{% import "components/date.njk" as d %}
<header>
  <h1>{{ title }}</h1>
  <ul class="meta-info">
    {{
      d.date(date)
    }}
    <svg width="64" height="32">
      <path d="M0,4 h64" stroke="hsl(var(--col-secondary))" stroke-width="8" />
    </svg>
  </ul>

</header>
<article>{{ content | safe }}</article>
{% if relatedposts %}
  <div class="related-posts cta-soft">
    <p style="display:inline">related posts: </p>
    <ul style="display:inline-block">
      {% for pUrl, pTitle in relatedposts %}
        <li>
          <a href="/writing/{{pUrl}}/">{{pTitle}}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}