{% macro date(d, as = "") %}
    {% set d = d | daatee %}
    {% set inner %}
    <time datetime="{{d}}">{{d.getFullYear()}}</span>-<span>{{d.getMonth()+1}}</span>-<span>{{d.getDate()}}</time>
    {% endset %}
    {% if not as %}
        {{ inner | safe }}
    {% else %}
        <{{as}}>{{inner | safe }}</{{as}}>
    {% endif %}
{% endmacro %}