{% import "components/Navicons.njk" as icons %}
<site-nav state="close" current-route="{{page.fileSlug}}">
    <button>
        <svg width="1rem" viewBox="0 0 16 40" style="pointer-events: none">
            <g fill="currentColor">
                <circle cx="8" cy="8" r="4"/>
                <circle cx="8" cy="20" r="4"/>
                <circle cx="8" cy="32" r="4"/>
            </g>
        </svg>
    </button>
    <ul>
        <li>
            <a tabindex="-1" href="/" {{'aria-current=page' if page.fileSlug == ""}}>
                {{icons.icon('home')}}
                <span>home</span></a>
        </li>
        <li>
            <a tabindex="-1" href="/work/" {{'aria-current=page' if page.fileSlug == "work"}}>
                {{icons.icon('work')}}
                <span>work</span></a>
        </li>
        <li>
            <a tabindex="-1" href="/about/" {{'aria-current=page' if page.fileSlug == "about"}}>
                {{icons.icon('about')}}
                <span>about</span></a>
        </li>
    </ul>
</site-nav>