[router\:layout="works.njk"] {
  grid-template-rows: min-content;
  --m-width: 80rem;
}

[router\:layout="works.njk"] .meta-info {
  margin-top: 0.5em;
  margin-left: 0.5em;
}
[router\:layout="works.njk"] h1 {
  font-weight: 400;
  line-height: 0.9;
}
[router\:layout="works.njk"] header {
  overflow: hidden;
}
[router\:layout="works.njk"] article > :where(:not(:first-child)) {
  margin-top: 1em;
}
[router\:layout="works.njk"] article {
  --m-width: 1280px;
  padding-bottom: 2rem;
}
[router\:layout="works.njk"] article p + .row {
  margin-top: var(--space-l-3xl);
}
[router\:layout="works.njk"] article p {
}

[router\:layout="works.njk"] article figure :where(video) {
  /* height: 100%; */
}
[router\:layout="works.njk"] article figure :where(img) {
  object-fit: cover;
}
[router\:layout="works.njk"] article figure {
  display: flex;
  flex-direction: column;
}
.row {
  display: grid;
  gap: 1rem;
}
.row > h3 {
}
@media (min-width: 512px) {
  [router\:layout="works.njk"] header {
    margin-top: 4rem;
  }
  .row {
  }
  .row > h3 {
    grid-row: 1;
    z-index: 1;
    grid-column: 1;
    align-self: flex-start;
    justify-self: flex-start;
    writing-mode: vertical-lr;
    transform: rotate(180deg) translateX(2.5ex);
  }
  .row > figure {
    grid-row: 1;
    grid-column: 1;
  }
  [router\:layout="works.njk"] article p {
    /* margin-left: 3rem; */
  }
}
