[router\:page="/"] .mkj {
  grid-row: 3;
  color: hsl(var(--col-wht) / 0.9);
  filter: blur(1px);
  text-shadow: 0px 0px 16px hsl(var(--col-primary) / 0.1),
    2px -1px 3px hsl(var(--col-blk) / 0.025),
    -2px 1px 3px hsl(var(--col-primary) / 0.0125);
}
[router\:page="/"] .catch span {
  white-space: nowrap;
}
[router\:page="/"] .catch,
[router\:page="/"] .mkj {
}
main[router\:page="/"] {
  grid-template-rows: 1fr auto auto;
  gap: 1rem;
}
@media (min-width: 512px) {
  main[router\:page="/"] {
    padding: 2rem;
    grid-template-rows: 1fr max-content max-content 1fr;
    grid-template-columns:
      minmax(16px, 96px) repeat(2, minmax(min-content, 1fr))
      minmax(256px, 1fr) minmax(16px, 96px);
  }
  [router\:page="/"] .mkj {
    grid-row: 2;
    align-self: flex-start;
    grid-column: 2 / span 2;
  }
  [router\:page="/"] .catch {
    width: max-content;
    grid-row: 3;
    grid-column: 2 / span 2;
    align-self: flex-end;
  }

  main[router\:page="/"] > svg {
    grid-column: 3 / span 2;
    grid-row: 1/-1;
  }
}
@media (min-width: 1024px) {
  main[router\:page="/"] > svg {
    transform: rotate(45deg);
  }
}
