:root.dark {
  theme-switch {
    color: hsl(var(--col-blk));

    .beams {
      transform: scale(0.5);
      opacity: 0;
      .inner {
        transform: rotate(30deg);
      }
    }
    .center {
      transform: scale(2);
    }
    .crest {
      fill: black;
      transform: translate(1.5px, -0.75px);
    }
  }
}
theme-switch {
  color: hsl(var(--col-primary));
  z-index: 100;
  grid-row: 1;
  grid-column: 2;
  justify-self: flex-end;
  align-self: flex-start;

  button {
    // display: contents;
  }
  .beams {
    transition-property: transform, opacity;
    transition-delay: 225ms;
    transition-duration: 155ms;
    .inner {
      transition-property: transform;
      transition-timing-function: ease-in-out;
      transition-duration: 550ms;
    }
  }
  .center {
    transition-property: transform, opacity;
    transition-delay: 200ms;
    transition-timing-function: ease-out;
    transition-duration: 125ms;
  }
  .crest {
    transform: translate(4px, -4px);
    transition-property: transform, opacity;
    transition-delay: 200ms;
    transition-duration: 175ms;
  }
}
