---
title: Creating loops with Touchdesigner
thumb: /looping-with-touchdesigner-thumb.jpg
worktags:
  - touchdesigner
  - animation
  - design
date: 2022-04-10
relatedposts:
  circular-sampling-of-perlinnoise: "Circular sampling of perlinnoise"
---

{% import "components/video-figure.njk" as v %}

<p>
  <a href="https://derivative.ca/">Touchdesigner</a> was my first
  <span style="color: hsl(var(--col-primary))">love</span> in terms of
  programming and in some ways it still is. Below are some current works involving perfect loops made in Touchdesigner
</p>

<div class="grid-wrap">
  {{v.v('works','snok','Creating disks along a offseted lookup of a path')}}
  {{v.v('works','flow', 'GPU instanced cubes, lifetime and position determined by a animated perlin noise')}}
</div>
<div class="grid-wrap">
  {{v.v('works','softblocks','Grid of wedges sampling a perlin noise at each location')}}
  {{v.v('works','piston','A box of pistons pushed by a perlin')}}
</div>