* {
  -webkit-backface-visibility: hidden;
}
/* reset - - - -  */
/* typescale */
/* @link https://utopia.fyi/type/calculator?c=384,16,1.2,1152,21,1.333,6,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,2xs-m|l-3xl */
:root {
  --step--1: clamp(0.98rem, calc(0.76rem + 0.32vw), 0.83rem);
  --step-0: clamp(1rem, calc(0.84rem + 0.65vw), 1.31rem);
  --step-1: clamp(1.2rem, calc(0.93rem + 1.14vw), 1.75rem);
  --step-2: clamp(1.44rem, calc(0.99rem + 1.86vw), 2.33rem);
  --step-3: clamp(1.73rem, calc(1.04rem + 2.88vw), 3.11rem);
  --step-4: clamp(2.07rem, calc(1.04rem + 4.31vw), 4.14rem);
  --step-5: clamp(2.49rem, calc(0.97rem + 6.32vw), 5.52rem);
  --step-6: clamp(2.99rem, calc(0.8rem + 9.12vw), 7.36rem);
  --step-7: clamp(3.58rem, calc(0.47rem + 12.98vw), 9.82rem);
}
/* space scale */
/* @link https://utopia.fyi/space/calculator?c=384,16,1.2,1152,21,1.333,4,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,2xs-m|l-3xl */
:root {
  --space-3xs: clamp(0.25rem, calc(0.22rem + 0.13vw), 0.31rem);
  --space-2xs: clamp(0.5rem, calc(0.41rem + 0.39vw), 0.69rem);
  --space-xs: clamp(0.75rem, calc(0.63rem + 0.52vw), 1rem);
  --space-s: clamp(1rem, calc(0.84rem + 0.65vw), 1.31rem);
  --space-m: clamp(1.5rem, calc(1.25rem + 1.04vw), 2rem);
  --space-l: clamp(2rem, calc(1.69rem + 1.3vw), 2.63rem);
  --space-xl: clamp(3rem, calc(2.53rem + 1.95vw), 3.94rem);
  --space-2xl: clamp(4rem, calc(3.38rem + 2.6vw), 5.25rem);
  --space-3xl: clamp(6rem, calc(5.06rem + 3.91vw), 7.88rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, calc(0.03rem + 0.91vw), 0.69rem);
  --space-2xs-xs: clamp(0.5rem, calc(0.25rem + 1.04vw), 1rem);
  --space-xs-s: clamp(0.75rem, calc(0.47rem + 1.17vw), 1.31rem);
  --space-s-m: clamp(1rem, calc(0.5rem + 2.08vw), 2rem);
  --space-m-l: clamp(1.5rem, calc(0.94rem + 2.34vw), 2.63rem);
  --space-l-xl: clamp(2rem, calc(1.03rem + 4.04vw), 3.94rem);
  --space-xl-2xl: clamp(3rem, calc(1.88rem + 4.69vw), 5.25rem);
  --space-2xl-3xl: clamp(4rem, calc(2.06rem + 8.07vw), 7.88rem);

  /* Custom pairs */
  --space-2xs-m: clamp(0.5rem, calc(-0.25rem + 3.13vw), 2rem);
  --space-l-3xl: clamp(2rem, calc(-0.94rem + 12.24vw), 7.88rem);
}
/* colors */
:root {
  --hue: 15;
  --hue-offset: 40;
  --offset-mult: 3.75;

  --col-blk: calc(var(--hue)) 30% 20%;
  --col-wht: calc(var(--hue)) 20% 97.5%;

  --col-primary: var(--hue) 95% 55%;
  --col-secondary: calc(var(--hue) + (var(--hue-offset))) 90% 60%;
  --col-ternary: calc(var(--hue) + (var(--hue-offset) * var(--offset-mult))) 85%
    45%;
}
/* transition */
:root {
  --transition-timing-mud: cubic-bezier(0.1, 0, 0.2, 1);
  --transition-timing-pillow: cubic-bezier(0.2, 2, 0.3, 0.8);

  --page-transition-duration: 175ms;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
button {
  cursor: pointer;
  border-style: none;
  border-color: currentColor;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
ol,
ul {
  list-style: none;
}
img,
video,
svg {
  max-width: 100%;
  display: block;
}
img,
video,
figure,
.duo-tone {
  overflow: hidden;
  border-radius: 6px;
}
svg {
  overflow: hidden;
}
svg {
  fill: currentColor;
}
input,select{
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
  font-family: inherit;
}
a {
  color: currentColor;
  position: relative;
  /* text-decoration-color: hsl(var(--col-ternary)); */
  text-decoration-thickness: 3px;

  text-decoration-color: hsl(var(--col-ternary));
  text-decoration-skip-ink: none;
}

[data-date] {
  /* font-size: var(--step-0); */
}

a:focus {
  outline: none;
}
a:not([href^="/"]):not([aria-disabled="true"]) {
  text-decoration-style: dashed;
}
a:not([href^="/"]):not([aria-disabled="true"]):where(:focus, :hover) {
  /* text-decoration-thickness: 3px; */
  text-decoration-color: hsl(var(--col-primary));
}
a span {
  position: relative;
  pointer-events: none;
}
a span::after {
  transition-property: height;
  transition-duration: 25ms;
  transition-timing-function: ease-out;
}
a:not(.under-construction):is(:hover, :focus) span::after {
  height: 50%;
}
a span::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: hsl(var(--col-secondary));
  z-index: -1;
}
:where(button:where(:focus, :hover)) {
  color: hsl(var(--col-primary));
}
:where(button:where(:focus)) {
  outline: none;
  --focus-shadow: 0 0 0 2px hsl(var(--col-primary));
  border-radius: 2px;
}
button {
  box-shadow: var(--focus-shadow);
}

body,
html {
  height: 100%;
}
html {
  background-color: hsl(var(--col-wht));
  /* padding: 0.5rem; */
  padding: 0 0.5rem;

  /* transition-property: padding;
  transition-delay: 0s;
  transition-duration: 300ms; */
}
@media (min-width: 512px) {
  html.transitioning {
    /* padding: 0.75rem; */
  }
}
#gridlines {
  z-index: -1;
  contain: paint;
  transition-property: opacity;
  transition-duration: 500ms;
  /* opacity: 1; */
}
html.transitioning #gridlines {
  /* opacity: 0.5; */
}
body {
  overflow: hidden;
  display: grid;
  /* padding: 0.25rem; */
  border-radius: 6px;
  color: hsl(var(--col-blk));
  line-height: 1.5;
  font-size: var(--step-1);

  font-family: Arial, Helvetica, sans-serif;
  border-radius: 8px;

  background-color: hsl(var(--col-blk) / 0.01);
  /* box-shadow: 0 0 2px 0 inset hsl(var(--col-wht) / 1),
    0 0 4px 1px inset hsl(var(--col-primary) / 0.1),
    0 0 8px 3px inset hsl(var(--col-blk) / 0.05); */
}

/* reset - - - -  */



/* source-code-pro-300 - latin */
@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 300;
  font-display: fallback;
  src: local(""),
    url("/assets/fonts/scp/source-code-pro-v21-latin-300.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/assets/fonts/scp/source-code-pro-v21-latin-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* source-code-pro-regular - latin */
@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: local(""),
    url("/assets/fonts/scp/source-code-pro-v21-latin-regular.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/assets/fonts/scp/source-code-pro-v21-latin-regular.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* FONTS  */

body {
  font-family: Source Code Pro, sans-serif;
  font-weight: 300;
  line-height: 1.5;
  color: hsl(var(--col-blk));
  font-size: var(--step-1);
  /* font-variation-settings: "wght" 300; */
}
strong {
  /* font-variation-settings: "wght" 400; */
  font-weight: 1000;
}

:where(h1, h2, h3) {
  line-height: 1;
  /* transition-property: font-size; */
  font-weight: 100;
  /* font-fam5ms; */
}
:where(h1, h2, h3) {
  line-height: 1;
  /* word-break: break-all; */
  overflow-wrap: break-word;
  /* word-wrap: break-word; */
  /* hyphens: auto; */
}
.prose:where(h1, h2, h3) {
  margin-bottom: 0.5em;
}
h1 {
  font-size: var(--step-7);
  /* font-size: 100px; */
}
h2 {
  font-size: var(--step-4);
}
:where(h1, h2) {
}
h3 {
  font-size: var(--step-2);
  font-weight: 400;
  /* color: hsl(var(--col-secondary)); */
}

hr {
  border-style: solid;
  border-color: currentColor;
  border-width: 0.5px;
  --flow-gap: 2rem;
  margin-top: var(--flow-gap, 1rem);
  margin-bottom: var(--flow-gap, 1rem);
}

/* main - -  */
main {
  grid-row: 1/3;
  grid-column: 1/3;

  /* padding: var(--space-2xs-m); */

  height: 100%;
  width: 100%;

  overflow-y: scroll;
  overflow-x: hidden;

  display: grid;

  contain: paint;

  will-change: opacity, transform, filter;
}
#grid-lines {
  display: none;
}
p {
  max-width: 70ch;
}
/* media query */
@media (min-width: 512px) {
  html {
    padding: 0.5rem;
  }
  body {
    background-color: hsl(var(--col-blk) / 0.01);
    box-shadow: 0 0 2px 0 inset hsl(var(--col-wht) / 1),
      0 0 4px 1px inset hsl(var(--col-primary) / 0.1),
      0 0 8px 3px inset hsl(var(--col-blk) / 0.05);
  }
  main {
    padding: var(--space-2xs-m);
  }

  #grid-lines {
    display: block;
  }

  #grain {
    pointer-events: none;
    display: block !important;
    opacity: 0.55;
    mix-blend-mode: hard-light;
  }
}
figcaption {
  font-style: italic;
  font-size: var(--step-0);
}
html[router\:current-page="/work/"] #gridlines {
  /* opacity: 0; */
}
main {
  /* transition-property: background-color; */
  /* transition-duration: 175ms; */
}
html[router\:current-page="/work/"] main[router\:page="/work/"] {
  /* transition-delay: 125ms; */
  /* width: 100; */
  /* background-color: hsl(var(--col-secondary)); */
}
/* page transition  */
.slideIn,
.slideOut {
  animation-duration: var(--page-transition-duration);
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.slideIn {
  opacity: 0;
  animation-name: slideIn;
  animation-delay: var(--page-transition-duration);
  --in-dir: 0%;
  /* z-index: 5; */
}
.slideOut {
  --out-dir: 0%;
  animation-name: slideOut;
  /* z-index: 10; */
}
@keyframes slideIn {
  from {
    transform: translate(var(--in-dir));
    opacity: 0;
  }
  to {
    transform: translate(0% 0%);
    opacity: 1;
  }
}

@keyframes slideOut {
  0% {
    transform: translate(0% 0%);
    opacity: 1;
  }
  100% {
    transform: translate(var(--out-dir));
    opacity: 0;
  }
}

/* -- util -- */
.buttonish {
  --bg-col: hsl(var(--col-ternary));
  background-color: var(--bg-col);
  color: hsl(var(--col-wht));
  font-variation-settings: "wght" 400;
  padding-inline: 0.75em;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 0 12px 0 var(--bg-col), var(--focus-shadow, 0 0 0 0 black);
  transition-property: background-color, box-shadow;
  transition-duration: 125ms;
  transition-timing-function: ease-out;
}
.buttonish:is(:hover, :focus) {
  --bg-col: hsl(var(--col-primary));
}

.cramp {
  width: min(100%, var(--m-width, 70rem));
  margin: 0 auto;
}
