---
layout: base.njk
order: 0
description: "The home page of Marcus Aldrins personal website"
---

{# illu #}
{% include "components/coords.njk" %}

{# tagline #}
<p class="catch">
  <span>Designing Engineering 
  <br>
  <strong>&&</strong>
  </span>
  {# <br /> #}
  <span> Information Designing</span>
  <br />
  <span style="height: 1ex;width: 3em;background-color: hsl(var(--col-secondary));margin-block: 0.5ex;display: block;"></span>
  <span>Algorithmic
    <button aria-label="navigation toggle" onclick="openNav(event)" class="buttonish">UI</button>
    <strong>&&</strong>
  </span>
  <br />
  <span>
    <span>Markup</span>
    <span>&eqcolon;</span>
    <span>l<span style=" margin-right: 0.05em; display: inline-block; transform: scaleY(0.75) translateY(0.3ex); color: hsl(var(--col-primary));">&heartsuit;</span>ve
    </span>
  </span>
</p>