---
layout: base.njk
---

<svg
  style="grid-row: 1/3; grid-column: 2/4"
  width="100%"
  height="100%"
  viewBox="0 0 256 256"
>
  {% set n = 8 %} {% set cls = cycler(false, true, false) %}
  <g transform="translate(128 0)">
    <g transform="scale({{ 256 / n }}) translate(0 0.5)">
      <g>
        <line
          x1="0"
          x2="3"
          y1="0"
          y2="0"
          stroke-width="0.05"
          stroke="hsl(var(--col-secondary))"
        />
        <circle cx="3" cy="0" r="0.1" />
        <line
          x1="0"
          x2="0"
          y1="4"
          y2="7"
          stroke-width="0.025"
          stroke="hsl(var(--col-ternary))"
        />
        <circle
          cx="0"
          cy="7"
          r="0.2"
          fill="transparent"
          stroke-width="0.125"
          stroke="hsl(var(--col-ternary))"
        />
      </g>
      {% for y in range(0, n) %}
      <g transform="translate({{ 0 }} {{ y }})">
        <g></g>
        <circle cx="0" cy="0" r="{{ 0.05 }}" />
        {% if cls.next() %}
        <circle
          cx="0"
          cy="0"
          r="{{ 0.4 }}"
          fill="transparent"
          stroke-width="0.025"
          stroke="currentColor"
        />
        {% endif %}
      </g>
      {% endfor %}
    </g>
  </g>
</svg>
<h1
  style="
    grid-row: 6;
    grid-column: 1/4;
    width: max-content;
    align-self: flex-end;
    color: hsl(var(--col-primary));
  "
>
  mkj
</h1>

<p
  style="
    grid-row: 2/6;
    grid-column: 2/3;
    align-self: flex-end;
    padding-bottom: 1rem;
  "
>
  <span style="white-space: nowrap"
    >Designing Engineering <strong>&&</strong></span
  >
  <br />
  <span> Information Designing</span>
  <br />
  <span
    style="
      height: 1ex;
      width: 3em;
      background-color: hsl(var(--col-secondary));
      margin-block: 0.5ex;
      display: block;
    "
  ></span>
  <span
    >Algorithmic
    <button
      onclick="openNav(event)"
      class="buttonish"
      >UI</button
    >
    <strong>&&</strong></span
  >
  <br />
  <span>
    <span>Markup</span>
    <span>&eqcolon;</span>
    <span
      >l<span
        style="
          margin-right: 0.05em;
          display: inline-block;
          transform: scaleY(0.75) translateY(0.3ex);
          color: hsl(var(--col-primary));
        "
        >&heartsuit;</span
      >ve
    </span>
  </span>
</p>
