---
order: 1
layout: base.njk
---

{% import "components/date.njk" as d %}

{% for work in works %}
    <article data-work-index="{{loop.index0}}" class="cramp">
        {{d.date(work.date,as="div")}}
        {# <h3>{{work.title}}</h3> #}
        <a href="{{work.path}}">
            <span>{{work.title}}</span>

            {% if env.dev %}
                <img src="/assets/img/works{{work.thumb}}" alt="Spliting" />
            {% else %}
                {% image 'img/works', work.thumb, "Splits", '' , {w:"100%",h:"auto",s:"100vw"}%}
            {% endif %}
        </a>
        {# <p>{{work.preamble}}</p> #}
        {# <a href="{{work.path}}">read more</a> #}
    </article>
{% endfor %}