---
layout: base.njk
order: 2
---

{% import "components/date.njk" as d %}
<ul>
  {% for post in collections.post %} {% set data = post.data %}
  <li>
    <a href="{{ post.url }}">
      <span>{{ data.title }}</span>
    </a>
    {{ d.date(data.date) }}
  </li>
  {% endfor %}
</ul>
