<ul class="h-card" hidden style="display: none">
    <li class="u-photo">/assets/img/mecopbw--512.jpeg</li>
    <li class="u-url">https://m-aldrin.space</li>
    <li class="p-name">Marcus Karl-Jan Aldrin</li>
    <li class="p-email">me@m-aldrin.space</li>
    <li class="p-job-title">Graphic Designer, Frontend Designer, Developer, Teacher</li>
    <li class="p-role">makes websites and web apps</li>
    <li class="p-country">Sweden</li>
    <li class="p-locality">Dalarna</li>
</ul>
